<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table border="solid">
  <thead>
    <tr>
      <th>ID</th>
      <th>NAME</th>
      <th>AGE</th>

    </tr>
  </thead>
  <tbody>
    {% for row in data %}
    <tr>
      <td>{{ row.id }}</td>
      <td>{{ row.name }}</td>
      <td>{{ row.age }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<script src="https://d3js.org/d3.v7.min.js"></script>
    <script>
        var dataStr = '{{data}}'.replace(/&#x27;/g, '"');
       console.log(dataStr);
       var newStr = JSON.parse(dataStr);
        console.log(newStr);

          var stratify = d3
            .stratify()
            .id((d) => d.id)
            .parentId((d) => d.parent);

    var treeData = stratify(newStr);
    console.log(treeData);
    </script>

</body>
</html>