{% load static %}

<!DOCTYPE html>
<html>
  <meta charset="UTF-8" />
  <header>
    <title>Collapsible tree</title> 
    <link rel="stylesheet" href="{% static 'css/tree_visualization.css' %}" />
  </header>

  <body>
    <!-- load libraries -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.1.0/chroma.min.js"></script>
    <script src="https://unpkg.com/d3-v6-tip@1.0.6/build/d3-v6-tip.js"></script>

    <script src="{% static 'js/tree_visualization.js' %}"></script>

    <script type="text/javascript">

      const search_gene = "CD8A";

      // -------- input data from local folder, [csv file]
      var dataStr = '{{data}}'.replace(/&#x27;/g, '"');
      var newStr = JSON.parse(dataStr);
      const input_data =  newStr;       

      // where to append your tree. It can be selected by tag, class name, or ID. 
      // Format: select("tag"), select(".classname"), select("#ID")
      const location1 = "body";

      const path_to_icon_folder = "https://hpc.nih.gov/~Jiang_Lab/Lineage/";
      // const path_to_icon_folder = "data/CellTypeIcon_separate/"

      collapsible_tree(input_data, search_gene, location1, path_to_icon_folder);

    </script>
 </body>

</html>

