{% load static %}

<!DOCTYPE html>
<html>
  <meta charset="UTF-8" />
  <header>
    <title>Collapsible tree</title> 
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    rel="stylesheet"
  />
    <link
    href="https://getbootstrap.com/docs/5.3/assets/css/docs.css"
    rel="stylesheet"
  />
    <link rel="stylesheet" href="{% static 'css/tree_visualization.css' %}" />
  </header>

  <body>
    <!-- load libraries -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.1.0/chroma.min.js"></script>
    <script src="https://unpkg.com/d3-v6-tip@1.0.6/build/d3-v6-tip.js"></script>

    <script src="{% static 'js/tree_visualization.js' %}"></script>
    <div class="container-fluid" >
      <nav class="navbar navbar-expand-lg bg-primary-subtle">
        <div class="container-fluid">
          <a class="navbar-brand mb-0 h1" href="#">Collapsible Tree</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'main:upload_page' %}">Upload</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'main:markdown_view' %}">Documentation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://github.com/data2intelligence/lineage_visualization">GitHub</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <br>
      <div style="text-align: justify;">
        <div class="row">

          <div class="col-md-8 offset-md-2">
            <h4> Dataset title: {{dataset_title}}</h4>
            <h5> Column you search: {{search_column}}</h5>
          </div>

      </div>

      <div class="row">
        <div class="col" id="svg_container"  ></div>
      </div>

      </div>
      

      </div>
    </div>

    <script type="text/javascript">

      const search_column = '{{search_column}}';

      var dataStr = '{{data}}'.replace(/&#x27;/g, '"');
      var newStr = JSON.parse(dataStr);
      const input_data =  newStr;   
      var path_to_icon_folder;

      // where to append your tree. It can be selected by tag, class name, or ID. 
      // Format: select("tag"), select(".classname"), select("#ID")
      const location1 = "#svg_container";

      if ('{{icon_folder}}'){
        path_to_icon_folder = '{{icon_folder}}';
      }
      else{
        path_to_icon_folder = "https://hpc.nih.gov/~Jiang_Lab/Lineage/";
      }

      collapsible_tree(input_data, search_column, location1, path_to_icon_folder);

    </script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

 </body>

</html>

