<!DOCTYPE html>
<html>
  <head>
       <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    rel="stylesheet"
  />
  <link
    href="https://getbootstrap.com/docs/5.3/assets/css/docs.css"
    rel="stylesheet"
  />

    <title>Collapsible Tree</title>
    </head>
    <body class="p-3 m-0 border-0 bd-example m-0 border-0">
      {% load crispy_forms_tags %}  
        <div class="container-fluid">
          <nav class="navbar navbar-expand-lg bg-primary-subtle">
            <div class="container-fluid">
              <a class="navbar-brand mb-0 h1" href="#">Collapsible Tree</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
    
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'main:upload_page' %}">Upload</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'main:markdown_view' %}">Documentation</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="https://github.com/data2intelligence/lineage_visualization">GitHub</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <div class="row">
            <div class="col-md-8 offset-md-2">
                        <!--Django Model Form-->
                <h4 class="my-4">Upload your structure file here.</h4>
                <form id="upload_form" method="post" enctype="multipart/form-data">
                  {% csrf_token %}

                  {{csv_form|crispy}}
                      <button class="btn btn-primary my-4" type="submit">Submit</button>
                </form>
                <!--Django Model-->
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                  {{ message }}
                </div>
                  {% endfor %}


            </div>

          </div>



        </div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
   

  </body>
</html>